header {
    display: flex;
    justify-content: space-between;
    font-family:"raleway",sans-serif;
}

header img {
    width: 121px;
    padding: 30px;
    height: 79px;
}

header nav ul {
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0px 42px 0px 0px;
    border-top: 2px solid transparent;
    padding-top: 16px;
}

header nav ul li:hover {
    border-color:blue;
}

header nav ul li a {
    color:black;
    text-decoration: none;
}

header nav ul li:hover a {
    color:blue;
}
body {
    margin:0;
}