body {
    margin:0px;
    font-family:"raleway",sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 121px;
    padding:30px;
    height: 79px;
}

header nav ul {
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0px 42px 0px 0px;
    border-top: 2px solid transparent;
    padding-top: 16px;
}

header nav ul li:hover {
    border-color:blue;
}

header nav ul li a {
    color:black;
    text-decoration: none;
}

header nav ul li:hover a {
    color:blue;
}

.entête {
    padding-left: 50px;
    padding-right: 50px;
}
.formulaire {
    padding-left: 50px;
    padding-right: 50px;
}
.box-filtres {
    padding-left: 50px;
    padding-right: 50px;
}
.hebergements-and-populaires {
    padding-left: 50px;
    padding-right: 50px;
}
form{
    margin-bottom: 20px;
    display: flex;
    justify-content:flex-start;
}
.search_icon{
    background-color: #F2F2F2;
    padding: 10px 10px 10px 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px #F2F2F2 solid;
}
.mots-rechercher{
    padding: 10px 10px 10px 10px;
    border-style: none;
    border: 2px #F2F2F2 solid;
    font-weight: bold;
}
.bouton{
    padding: 10px 10px 10px 10px;
    border-style: none;
    border: 2px #0065fc solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065fc;
    color: white;
}
.box-filtres{
    align-items: center;
    display:flex;
}
.modele-de-filtre{
    flex-direction: row;
    display: flex;
    align-items: center;
}
.mot-filtre{
    font-weight: bold;
    margin-right: 15px;
}
.filtre-and-icone{
    margin-right: 15px;
    border: 2px #F2F2F2 solid;
    border-radius: 25px;
}
.filtre-and-icone:hover{
    background-color:#DEEBFF;
    color: #F2F2F2;
    border-color:#D9D9D9;
}
.filtre-and-icone > a {
text-decoration: none;
color: black;
}
.filter_icon{
    color: #0065fc;
    border-radius: 18px;
    padding: 15px 10px 15px 19px;
}
.mot-span {
    padding-right: 19px;
}
.info-logements {
    display: flex;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;;
}
.info_icon {
    padding: 3px 8px 3px 8px;
    margin-right: 10px;
    color: #0065fc;
    border: 2px #F2F2F2 solid;
    border-radius: 18px;
}
#hebergements-and-populaires{
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.card-notes {
    width: auto;
}
#bloc-hebergements{
    border-radius: 20px;
    width: 68%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
}
.section-title{
    padding: 20px 20px 20px 20px;
    font-size: large;
}
.contenu-bloc-hotel{
    flex-wrap: wrap;
    justify-content: space-around;
}
.hotel-card{
    flex-direction: column;
    width: 28%;
    height: 220px;
    border: 4px white solid;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
    box-shadow: 0px 0px 7px #C1C1C1;
}
.hotel-image{
    height: 140px;
    width: 100%;
    object-fit: cover;
}
.hotel-card-description{
    padding: 5px 0px 10px 10px;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 15px;
    width: 100%;
    height: 30%;
}
.hotel-titre-card{
    margin: 0px 0px 0px 0px;
    font-size: 90%;
}
.hotel_prix{
    margin: 5px 0px 5px 0px;
    font-size: 80%;
}
#bloc-populaires{
    border-radius: 20px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    padding-top: 20px;
}
.bloc-populaires-title{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.populaire-title{
    font-size: large;
    margin: 0px 0px 5px 0px;
}
.contenu-bloc-populaires{
    flex-direction: column;
    align-items: center;

}
.populaire-card{
    flex-direction: row;
    width: 80%;
    height: 146px;
    border: 3px white solid;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
    box-shadow: 0px 0px 7px #C1C1C1;
}
.populaire-image{
    width: 40%;
    object-fit: cover;
}
.populaire-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 60%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
}
.populaire-titre{
    font-size: 90%;
}
.populaire-prix{
    margin: 5px 0px 15px 0px;
    font-size: 80%;
}
.backgrey{
    background-color: #F2F2F2;
}
.bluestar{
    color: #0065fc;
}
.greystar{
    color: #F2F2F2;
}
.euro{
    font-weight: bold;
}
.flex{
    display: flex;
}
